<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l4 s16">
            
          <h5 class="white-text">PwC Colombia</h5>
          <div class="col l4 s8">
            <p class="grey-text text-lighten-4">Acerca de Nosotros</p>
          </div>

          <div class="col l4 s8">
            <p class="grey-text text-lighten-4">Nuestros Servicios</p>
          </div>

        </div>
      </div>
    </div>

    <hr>
    <div class="footer-copyright">
      <div class="col-md-8">
        <img src="./../../assets/Pwc logoFooter.svg" alt="">        
        <p class="footerText"> © 2020 - 2022 PwC. PricewaterhouseCoopers. PwC se refiere a las Firmas colombianas que hacen parte de la red global de <br> PricewaterhouseCoopers International Limited, cada una de las cuales es una entidad legal separada e independiente. <br>Todos los derechos reservados.</p>
      </div>
    </div>
  </footer>