.btn-floating.halfway-fab {
    position: relative;
    left: 30px;
    bottom: -40px;
}

.amber {
    background-color: white;
}
img{
    height: 100%;
}

.container{
    width: 100%;
    max-width: 1536px;
}

.btnFloat{
    background-color: #d04a02;
}
.btnFloat:hover{
    background-color: #F3BE26;
}

.card{
    border-radius: 25px;
    background-color:#e4e0e0;
}


.card .card-image .card-title {
  color: black;
  position: relative;
  top: 20px;
  bottom: 0;
  left: 0;
}

.btn-floating.halfway-fab {
  position: relative;
  left: 30px;
  bottom: -40px;
}


  /* label color */
  .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #000;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
    /* box-shadow: 0 1px 0 0 #e0301e; */
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #d04a02;
  }


       
