<body>
    <div class="container">
        <div class="carousel carousel-slider center">
            <div class="carousel-fixed-item center">
            </div>
            <div class="carousel-item" href="#one!">
                <img src="../../assets/slide1.webp">
            </div>
            <div class="carousel-item" href="#two!">
                <img src="../../assets/sldie02.gif">
            </div>
            <div class="carousel-item" href="#three!">
                <img src="../../assets/slide3.webp">
            </div>
          </div>
    </div>
</body>
    